@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

:root {
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

body {
    background-color: rgba(241, 239, 230, 0.973);
}

main {
    text-align: center;
}

canvas {
    box-shadow: 5px 5px 10px grey;
}

h2, h3 {
    margin: 8px;
}

h4 {
    margin: 3px;
}

button.control-btn{
    cursor: pointer;
    padding: 10px;
    background-color: bisque;
    border: none;
    box-shadow: 2px 2px 3px grey;
    border-radius: 5px;
    margin: 0 5px;
}

button.control-btn:hover {
    background-color: burlywood;
}